.btn
	display block
	border-radius 0
	margin 0 auto
	transitionBase()

	&:visited
		color black
	&-cereza
		background-color $Rojo[1]
		color white

		&:hover
			background-color $Verde[0]


	&-limon
		background-color $Verde[1]
		color white

			&:hover
				background-color $Rojo[0]

	&-zoom-in,
	&-zoom-out
		background-color #fff
		background-position center
		background-repeat no-repeat
		border-radius 100%
		box-shadow 7px 7px 5px 0px rgba(0,0,0,0.3)
		cuadrado(4.5rem)
		font-size 1.8rem
		line-height 1
		margin 0 auto 0.5rem
		padding 1.2rem
	
