.btn
	display block
	border-radius 0
	margin 0 auto
	transitionBase()

	&-cereza
		background-color $Rojo[1]
		color white

		&:hover
			background-color $Verde[0]

	&-limon
		background-color $Verde[1]
		color white

			&:hover
				background-color $Rojo[0]
