#map
  centrarAb()
  height 0
  padding-bottom 100%
  pointer-events none
  width @padding-bottom

  &>div
    background-color transparent !important

  &.play
    pointer-events all !important

.bg
  &-bubble
    // background-image radial-gradient(rgba($Gris, 0.5) 30%, transparent 0), radial-gradient(rgba($Gris, 0.5) 30%, transparent 0)
    path('pattern.png')
    background-position bottom center
    background-repeat no-repeat
    background-size 100%


.circle
  background-color #fff
  border-radius 100%
  box-shadow 7px 7px 5px 0px rgba(0,0,0,0.3)
  height 0
  margin 0 auto
  position absolute
  text-align center
  z-index 2

  &-intro
    h3
      font-size 3.8rem
      margin-bottom 0

    p
      font-size 2.7rem
      margin-top 8rem
      max-width: 29.7rem

      &:nth-of-type(2)
        font-size 1.6rem
        margin-top 0.5rem
        max-width 35rem

    .btn
      max-width 30rem

  &-s
    left ( (100% - 15%) / 2 )
    margin-top 19%
    padding-bottom 15%
    top ( (100% - @padding-bottom) / 2 )
    width @padding-bottom

  &-m
    left ( (100% - 40%) / 2 )
    margin-top 4%
    padding-bottom 40%
    top ( (100% - @padding-bottom) / 2 )
    width @padding-bottom

    .img-time-over
      display block
      height auto
      margin 17.9rem  auto 0
      margin-top
      max-width 100%

  &-xl
    left ( (100% - 50%) / 2 )
    margin-top 5%
    padding-bottom 50%
    top ( (100% - @padding-bottom) / 2 )
    width  @padding-bottom

  &-select
    display none
    transitionBase()
    &.hover-r
      left 31.5%

    &.hover-l
      left 53.5%

  &-steps
    img
      display block
      height auto
      margin 12rem auto 0
      max-width 80%
      width 100%

    p
      margin-top 0

  &-resultado
    p
      font-size 2.7rem
      margin 10rem auto 2rem
      max-width 34.3rem


      &:nth-of-type(3)
        margin-top 2rem

.counter
  &-contador,
  &-time
    display inline-block
    vertical-align top
    width 49.3%

  &-contador
    .cantidad
      font-size 8rem
      line-height 1
      margin-top 3rem

  &-time
    .clock
      &-icon
        margin 5.3rem auto 0
        height 3.9rem
        width 3.5rem
        svg
          cuadrado(100%)

      &-text
        font-size 4rem
        line-height 1
        margin-top 0

.divider
  animation-duration 2s
  animation-fill-mode forwards
  animation-iteration-count 1
  animation-timing-function ease-in-out
  background-repeat no-repeat
  background-size cover
  bottom 0
  height 100%
  position absolute
  top 0
  transitionBase()
  width 100%

  a
    display none
    cuadrado(25.5rem)
    position absolute
    left 50%
    top @left
    transform translate3d(-@left,-@left,0)

    &::before
      background-color rgba(255,255,255,0.15)
      border 4px solid
      circ(28rem)
      content ''
      left -1.2rem
      position absolute
      top @left
      transitionBase()
      transform scale(0)
      transform-origin center
      z-index -1

    &:hover
      &::before
        transform scale(1)

      img
        transform scale(0.9)

    img
      height auto
      max-width 100%
      transitionBase()
      width 100%

  &-left
    path('cereza-01.jpg')
    left 0
    width 50%
    a

      &::before
        border-color $Rojo[0]



  &-right
    path('limon-01.jpg')
    right 0
    width 50%
    a
      &::before
        border-color $Verde[0]

  &-score
    background-color #fff
    border-radius 100%
    box-shadow 7px 7px 5px 0px rgba(0,0,0,0.3)
    height 0
    left 25%
    padding-bottom (@left * 2)
    position absolute
    top @left
    width @padding-bottom

    h2,h3, p
      margin auto
      max-width 80%
      text-align center

    h2
      margin-top 8rem

    h3
      font-size 4rem

  &.hover
    width 60%
    a
      &::before
        transform scale(1)

  &.selected
    animation-name full
    z-index 2

  &.no-selected
    animation-name out
    z-index 1

  &.no-hover
    width 40%


.last-ten
  .clock
    &-icon
      animation hurry 1s infinite alternate ease-in-out
      svg
        path
          fill darken($Rojo[0], 20%)
    &-text
      color darken($Rojo[0], 20%)



.loader
  background-color rgba(#fff, 0.9)
  centrarAb()
  cuadrado(100%)
  z-index 15

  div
    background-color lighten($Gris, 95%)
    border-radius 100%
    box-shadow 7px 7px 5px 0px rgba(0,0,0,0.3)
    display block
    left 33%
    padding-bottom (100% - (@left * 2))
    position absolute
    text-align center
    top (@left / 2)
    width @padding-bottom

    &::after, &::before
      animation-duration 1s
      animation-iteration-count infinite
      animation-timing-function ease-in-out
      mix-blend-mode darken
      content ' '
      border-radius 100%
      display block
      position absolute
      padding-bottom 50%
      top 25%
      width 50%

    &::after
      animation-name loader-r
      background-color $Verde[0]
      right 25%

    &::before
      animation-name loader-l
      background-color $Rojo[0]
      left 25%

  span
    display block
    position absolute
    left 33%
    bottom 10%
    width 33%
    font-size 1.8rem

.lock
  background-color #fff
  path('pattern-tilt.png')
  background-position bottom center
  background-size 100%
  background-repeat no-repeat
  centrarAb()
  cuadrado(100%)
  position absolute
  z-index 9999

  h3
    font-size 1.8rem
    line-height 1.1
    max-width 80%

  .tilt-icon
    height 14.3rem
    margin 3rem auto
    width 16.8rem

    svg
      cuadrado(100%)
      animation tilt-icon 1s infinite cubic-bezier(.74,.07,.17,.81) alternate

    #arrows
      animation tilt-arrows 1s infinite cubic-bezier(.74,.07,.17,.81) alternate
      opacity 0

.message
  text-align center

  a
    display block
    margin 4rem auto 0



.one
  &-cereza
    a
      color $Verde[1]

  &-limon
    a
      color $Rojo[1]

.resumen

  img, p
    vertical-align top
    display inline-block

  img
    margin-left 2rem

  p
    font-size 2.7rem
    margin 0 auto
    max-width 27rem
    text-align right

  &-acido
    color $Verde[1]
  &-dulce
    color $Rojo[1]

.slider
  &-selector
    height 3.3rem
    left 50%
    margin 0 auto
    position absolute
    top @left
    transform translate3d(-@left,-@left, 0 )
    width 9.7rem

    a, img, svg
      display block
      cuadrado(100%)

.start
  display block
  height 7.7rem
  width 20rem
  img
    height auto
    max-width 100%
    width 100%

.time-over
  display none

.zoom-controls
  position absolute
  right 4rem
  bottom 4rem
  width 4rem
  z-index 2
