@keyframes hurry
  0%
    transform scale(1)

  45%
    transform scale(0.5)


  75%
    transform scale(1.2)

  100%
    transform scale(1)


@keyframes full
  0%
    width 60%


  100%
    width 100%

@keyframes out
  0%
    width 40%

  100%
    width 0%


@keyframes pull-line-r
  0%
    left 39%

  100%
    left -2%

@keyframes pull-line-l
  0%
    left 59%

  100%
    left 100%


@keyframes tilt-arrows
  from
    opacity 0

  to
    opacity 0.99


@keyframes tilt-icon
  from
    transform rotate(0deg)

  to
    transform rotate(-35deg)
