@media (max-width:768px) and (orientation: portrait)
	.lock
		display block !important

		h3
			font-size 1.6rem

	.circle
		&-xl
			left ( (100% - 50%) / 2 )
			margin-top 5%
			padding-bottom 50%
			top ( (100% - @padding-bottom) / 2 )
			width  @padding-bottom


@media (max-width:560px) and (orientation: portrait)
	.circle
		&-xl
			left ( (100% - 60%) / 2 )
			margin-top 10%
			padding-bottom 60%
			top ( (100% - @padding-bottom) / 2 )
			width  @padding-bottom

@media (max-width:480px) and (orientation: portrait)
	.circle
		&-xl
			left ( (100% - 70%) / 2 )
			margin-top 15%
			padding-bottom 70%
			top ( (100% - @padding-bottom) / 2 )
			width  @padding-bottom

@media (max-width:420px) and (orientation: portrait)
	.circle
		&-xl
			left ( (100% - 75%) / 2 )
			margin-top 18%
			padding-bottom 75%
			top ( (100% - @padding-bottom) / 2 )
			width  @padding-bottom

@media (max-width:360px) and (orientation: portrait)
	.circle
		&-xl
			left ( (100% - 85%) / 2 )
			// margin-top 20%
			padding-bottom 85%
			top 10rem
			width  @padding-bottom
