.cereza
  background-image $Rojo-grad
  overflow hidden

  a
    color $Rojo[0]

    &:hover
      color $Rojo[1]



.limon
  background-image $Verde-grad
  overflow hidden
  a
    color $Verde[0]

    &:hover
      color $Verde[1]


.resultados
  overflow hidden
