//Colores
$Facebook   = #4d6ab0
$Gris       = #58595b
$Rojo       = #ff004f #d0085e
$Rojo-grad  = linear-gradient(to bottom, $Rojo[1] 0%,$Rojo[0] 100%)
$Verde      = #e5eb58 #a9d42d
$Verde-grad = linear-gradient(to bottom, $Verde[0] 0%,$Verde[1] 100%)


//Fonts
$FontStack  = 'Raleway', sans-serif
$Icons      = 'Glyphicons Halflings'

//Font weights
$Bold       = 700
$Light      = 300
$Normal     = 400


//Site grid spacing and width
$Gutter     = 0.5rem
$SiteWidth  = 110rem
