//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Limon";
	title BON BON BUM Cereza Limón

//-Etiqueta Metadescription
block description
	meta(name="description", content="BON BON BUM Cereza Limón" )


block content
	section.container-fluid
		div.row
			div.circle.circle-xl.circle-intro.circle-steps
				+image('los-acidos.svg', 'Los ácidos')
				p.
					Hay <strong>7</strong> Bon Bon Bum escondidos en este mundo, haz clic sobre cada uno de ellos para recogerlos
			div.circle.circle-m.circle-intro.time-over
				+image('time-over.svg', '¡El tiempo se ha terminado!')(class="img-time-over")

		div#map



block Scripts
	script(src="js/bbb-mundos.limon.js")
	//Load map
	script.
		function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: 0, lng: 0},
		zoom: 3,
		streetViewControl: false,
		mapTypeControlOptions: {
			mapTypeIds: ['moon']
		}
		});

		var moonMapType = new google.maps.ImageMapType({
		getTileUrl: function(coord, zoom) {
				var normalizedCoord = getNormalizedCoord(coord, zoom);
				if (!normalizedCoord) {
					return null;
				}
				var bound = Math.pow(2, zoom);
				return '//mw1.google.com/mw-planetary/lunar/lunarmaps_v1/clem_bw' +
						'/' + zoom + '/' + normalizedCoord.x + '/' +
						(bound - normalizedCoord.y - 1) + '.jpg';
		},
		tileSize: new google.maps.Size(256, 256),
		maxZoom: 9,
		minZoom: 0,
		radius: 1738000,
		name: 'Moon'
		});

		map.mapTypes.set('moon', moonMapType);
		map.setMapTypeId('moon');
		}

		// Normalizes the coords that tiles repeat across the x axis (horizontally)
		// like the standard Google map tiles.
		function getNormalizedCoord(coord, zoom) {
		var y = coord.y;
		var x = coord.x;

		// tile range in one direction range is dependent on zoom level
		// 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
		var tileRange = 1 << zoom;

		// don't repeat across y-axis (vertically)
		if (y < 0 || y >= tileRange) {
		return null;
		}

		// repeat across x-axis
		if (x < 0 || x >= tileRange) {
		x = (x % tileRange + tileRange) % tileRange;
		}

		return {x: x, y: y};
		}


	///-Load map
	script( async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGccXwL43E0sz0IyQCs6unX-ydBY3SCNs&callback=initMap")
